*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 300px;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;

}
.sidebar_nav{
background: #111;
border-radius: 10px;
padding: 20px 10px;
margin-bottom: 10px;
}
.sidebar_nav .logo{
    width: 120px;
}
.sidebar_nav .logo img{
    width: 100%;
}
.sidebar_nav ul{
    list-style: none;
}
.sidebar_nav ul li{
    padding: 10px 20px;
}
.sidebar_nav ul li a:hover{
    color: #fff;
}
.sidebar_nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.sidebar_nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
}
.library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;

}
.creat_playlist{
  background: #302f2f;
  padding: 30px 30px;
  border-radius: 10px;
  margin-bottom: 10px;  
}
.sidebar_scroll{
    height: 120px;
    overflow-y: auto;
}
.sidebar_scroll::-webkit-scrollbar{
    background: transparent;
}
.sidebar_scroll::-webkit-scrollbar-thumb{
    background:transparent;
    width: 10px;
}
.sidebar_scroll:hover::-webkit-scrollbar-thumb{
    background:#5c5b5b;
    width: 5px;
}
.creat_playlist h4{
    color: #fff;
    font-size: 15px;
}
.creat_playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
}
.creat_playlist button{
   padding: 8px 15px;
   border: 0;
   outline: 0;
   border-radius: 20px;
   font-weight: 600;
   margin-bottom: 10px;
}
.privacy ul li a{
    text-decoration: none;
    color: #818080;
    font-size: 11px;
    font-weight: 600;
    margin: 0 6px;

}
.privacy ul li a:hover{
    text-decoration: underline;
    color: #dbdada;
}
.privacy ul{
    list-style: none;
    margin-top: 10px;
}
.privacy ul li{
    padding: 0 12px;
    padding-bottom: 8px;
}

.playlist1 ul li a:hover{
    color: #1db954;
    

}

.playlist2 ul li a:hover{
    color: #1db954;
    

}

.eng-button{
    padding: 20px 30px;
    margin-top: -30px;
}
.eng-button button{
    padding: 10px 30px;
    background: transparent ;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin: 10px 0;
}
.eng-button button:hover{
    color:#1db954;
    padding: 11px 31px;
    border: 1px solid;

}
/*..................................................................................................................................................................................................................................................................................................................................................*/
.main-sestion{
    margin-left: 300px;
    background: #181818;
    height: 100vh;
    overflow: auto;

}
.main-sestion .top-nav{
    padding: 20px 30px;
     background: #1b1b1b;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.main-sestion .top-nav button {
    background: transparent;
    border: 0;
    outline: 0;
}
.main-sestion .top-nav .prev-btn button i{
    color: #838181;
    font-size: 22px;
    margin-right: 20px;
    
}
.top-nav .login-btn .sign-up{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
}
.top-nav .login-btn .sign-up:hover{
    color: #1db954;
}
.top-nav .login-btn .login{
    color: #242323;
    font-size: 16px;
    font-weight: 600;
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
}
.top-nav .login-btn .login:hover{
    background: #1db954;
}
.spotify-playlist{
    padding: 20PX 40PX;
}
.spotify-playlist h2{
color: #fff;
font-size: 22px;
margin-bottom: 20px;
}
.spotify-playlist .cards{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlist .cards .item{
    width: 190px;
    min-width: 140px;
    background: #181818;
    cursor: pointer;
    padding: 15px;

}
.spotify-playlist .cards .item:hover{
    background-color: black;
}
.spotify-playlist .cards .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.spotify-playlist .item h4{
    color: #fff;
}
.spotify-playlist .item p{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.spotify-playlist .item p:hover{
   text-decoration: underline;
}
.spotify-playlist .play-btn{
    position: relative;
}

.spotify-playlist .play-btn i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 8px;
    right: 10px;
    top: -40px;
    opacity: 0;
    transform: 0.3s easy all;
}
.spotify-playlist .cards .item:hover .play-btn i{
   opacity: 1;
   transform: translateY(-20px);
}
/*.......................................................................................................*/
.footer-section{
    padding: 20px 30px;
}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-section .footer .footer-link{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-link .footer-coloum{
    margin: 0 12px;
}
.footer-section .footer .footer-link div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}
.footer-section .footer .footer-link ul li {
   list-style: none;
   margin: 0 6px;
}
.footer-section .footer .footer-link ul li a{
   text-decoration: none;
   color: #969393;
   font-size: 14px;
   cursor: pointer;
}
.footer-section .footer .footer-link ul li a:hover{
   text-decoration: underline;
   color: #fff;
}
.footer .social-link i{
    color: #fff;
    background: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.footer .social-link i:hover{
    background: #636262;
}
hr{
    margin: 20PX 40px;
    background: #272626;
    border: 0;
    outline: 0;
    border: 1px solid #575656;
    margin-top: 40px;
}
.copyright{
    padding: 0 40px;
    color: #969393;
    margin-bottom: +60px;
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #1db954,#000);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
}
.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}
.preview p{
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
 .preview button{
    padding:12px 30px;
    border: 0;
    outline: 0;
    background-color: #000;
    border-radius: 20px;
     font-size: 14px;
     font-weight: 600;
     color: #fff;
 }
